@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

/* shared related styles */

* {
  margin: 0;
  border: border-box;
  font-family: Merriweather;
}

/* header related styles */


.header-container {
  width: 1300px;
  height: 600px;
  background-image: url('styles/Banner\ Image.png');
  background-repeat: no-repeat;
  background-size: cover ;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
  
}


.new-year-text1 {
  font-weight: 400;
  color: #050505;
  font-size: 2rem;
  margin-bottom: 16px;
}

.new-year-text2 {
  font-weight: 900;
  font-size: 3.5rem;
  color: #221717e1;
  
  
}

.header-container:hover {
  border: 2px dashed red;
}


/* first main section styles */


.main-container1 {
  width: 800px;
  margin: 0 auto;
}

.main-container1 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main1-heading {
  color: #F00;
  font-size: 3.8rem;
  font-weight: 700;
  margin-bottom: 48px;
}

.paragraph1 {
  color: #F00;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 16px;
}

.paragraph2 {
  color: #070211;
  font-size: 2.4rem;
  font-weight: 700;
}

.main-container1:hover , .main2-img:hover, .section3:hover {
  border: 2px dashed red;
}

/* main container2 or section 2 relatd style */


.main2-img {
  width: 78%;
  height: 600px;
  background-image: url('styles/Vectorrr.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  
}

.container2-text {
  position: absolute;
  top: 126px;
  left: 126px;
}

.main-container2 .main2-header {
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 24px;
  display: inline;
}

.main-container2 .main2-paragraph {
  color: rgba(255, 255, 255, 0.80);
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 48px;
  margin-top: 24px;
}

.main-container2 .main2-link {
  color: #FFF;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  margin-left: 30px;
}

.year {
  display: inline;
  position: absolute;
  right: 138px;
  top: 68px;
}


/* section 3 deign */

.section3 {
  width: 78%;
  height: 480px;
  background-color: #ff00000e;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3 .main-container3 {
  display: flex;
  flex-direction: column;
  gap: 48px;
  text-align: center;
}


.section3 .container3-button > button {
  align-items: center;
  padding: 10px 12px;
  color: #FFF;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 8px;
  background: #F00;
  border: none;

}

.section3 .red {
  color: #F00;
}

.shared-style {
  font-size: 2rem;
  font-weight: 700;
  color: #070211;
}

