@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

/* shared related styles */

* {
  margin: 0;
  border: border-box;
  font-family: Merriweather;
}

/* header related styles */


.header-container {
  width: 1300px;
  height: 600px;
  background-image: url('styles/Banner\ Image.png');
  background-repeat: no-repeat;
  background-size: cover ;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;

}


.new-year-text1 {
  font-weight: 400;
  color: #050505;
  font-size: 2rem;
  margin-bottom: 16px;
}

.new-year-text2 {
  font-weight: 900;
  font-size: 3.5rem;
  color: #221717e1;
  
  
}

.header-container:hover {
  border: 2px dashed red;
}


/* first main section styles */


.main-container1 {
  width: 800px;
  margin: 0 auto;
}

.main-container1 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main1-heading {
  color: #F00;
  font-size: 3.8rem;
  font-weight: 700;
  margin-bottom: 48px;
}

.paragraph1 {
  color: #F00;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 16px;
}

.paragraph2 {
  color: #070211;
  font-size: 2.4rem;
  font-weight: 700;
}

.main-container1:hover , .main2-img:hover, .section3:hover {
  border: 2px dashed red;
}

/* main container2 or section 2 relatd style */


.main2-img {
  width: 78%;
  height: 600px;
  background-image: url('styles/Vectorrr.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  
}

.container2-text {
  position: absolute;
  top: 126px;
  left: 126px;
}

.main-container2 .main2-header {
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 24px;
  display: inline;
}

.main-container2 .main2-paragraph {
  color: rgba(255, 255, 255, 0.80);
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 48px;
  margin-top: 24px;
}

.main-container2 .main2-link {
  color: #FFF;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  margin-left: 30px;
}

.year {
  display: inline;
  position: absolute;
  right: 138px;
  top: 68px;
}


/* section 3 deign */

.section3 {
  width: 78%;
  height: 480px;
  background-color: #ff00000e;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3 .main-container3 {
  display: flex;
  flex-direction: column;
  gap: 48px;
  text-align: center;
}


.section3 .container3-button > button {
  align-items: center;
  padding: 10px 12px;
  color: #FFF;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 8px;
  background: #F00;
  border: none;

}

.section3 .red {
  color: #F00;
}

.shared-style {
  font-size: 2rem;
  font-weight: 700;
  color: #070211;
}

/* section 4 styles */


.section4 {
  width: 78%;
  margin: 0 auto;
  margin-top: 50px;
}

.section4 .section4-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section4-top-text {
  color: #F00;
  font-size: 1.2rem;
  font-weight: 500;
}

.section4-middle-text {
  color: #070211;
  font-size: 2.4rem;
  font-weight: 900;
  margin-bottom: 15px;
  margin-top: 10px;
}


.section4-bottom-text {
  width: 300px;
  height: 128px;
  color: rgba(7, 2, 17, 0.60);
  font-size: 1rem;
  font-weight: 400;
}

.section4 .section4-img img {
  width: 350px;
  border: 15px solid #F00;
  border-radius: 50%;
  padding: 20px;
}

.section4 .section4-right-text .right-side-top-text {
  color: #F00;
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 15px;
}



.section4 .section4-right-text .right-side-middle-text {
  width: 276px;
  color: rgba(7, 2, 17, 0.60);
  font-size: 1.1rem;
  font-weight: 400;

}


.section4 .section4-right-text img {
  width: 140px;
  margin-top: 40px;
}

/* section5 style */

.section5 {
  width: 78%;
  height: 800px;
  margin: 0 auto;
  margin-top: 250px;
  position: relative;
  margin-bottom: 60px;
}


.section5 .section5-tex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  top: -110px;
}

.section5 .section5-top-text {
  color: #070211;
  font-size: 1.2rem;
  font-weight: 500;
}

.section5 .section5-middle-text {
  color: black;
  font-size: 4rem;
  font-weight: 900;
  margin-top: 15px;
}

.section5 .section5-middle-text > span {
  color: #F00;
}

.section5 .section5-bottom-text {
  color: rgba(7, 2, 17, 0.60);
  text-align: center;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  width: 700px;
  margin: 0 auto;
  margin-top: 20px;

}

.section5 .section5-container {
  background-image: url('styles/Rectangle\ 1.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 433px;
  position: absolute;
  bottom: 229px;
  right: 0;
  z-index: 0;
  border-radius: 16px 16px 0px 0px;
  
}

.section5 .discount-img img {
  width: 200px ;
  position: absolute;
  right: 280px;
  bottom: 60px;
  z-index: 1;

}

.section5 .section5-img2 img {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  height: 229px;
  border-radius: 16px 0px 16px 16px;
  background: #F00;
}


.section5 .section5-img3 img {
width: 600px;
position: absolute;
z-index: 3;
bottom: 50px;
transform: rotate(-5deg);
left: 30px;
}

/* section 6 style */


.section6 {
  width: 78%;
  margin: 0 auto;

}

.section6 .section6-picture-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 15px;
  margin-top: 50px;

}

.section6 .section6-picture-container img {
width: 480px;
  border-radius: 2px;
  border: none;
}

.section6 .section6-top-text {
  color: #F00;
  font-size: 1.3rem;
  font-weight: 500;
}

.section6 .section6-middle-text {
  color: #070211;
  font-size: 3rem;
  font-weight: 900;
  margin-top: 17px;
}

.section6 .section6-bottom-text {
  color: rgba(7, 2, 17, 0.60);
  font-size: 1.2rem;
  font-weight: 400;
  width: 896px;
  margin-top: 20px

}

/* section7 style */

.section7 {
  width: 78%;
  height: 616px;
  background-color: rgba(255, 0, 0, 0.089);
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;


}

.section7 .section7-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}


.section7 .section7-container p{
  text-align: center;
  color: rgba(7, 2, 17, 0.60);
  font-size: 1.2rem;
  font-weight: 400;
  width: 890px;

}

.section7 .section7-container img {
  width: 150px;
}

.section7 .section7-container h3 {
  color: #070211;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
}


.section7 .section7-container .email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.section7 .section7-container .email > input {
  width: 420px;
  padding: 24px;
  margin-right: -1px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: #FFF;
  border: none;
  color: rgba(7, 2, 17, 0.30);
  text-align: center;
  font-size: 18px;
  font-weight: 400;


}

.section7 .section7-container .email > button {
  width: 200px;
  height: 71px;
  border: none;
  padding: 20px 50px ;
  border-radius: 0px 50px 50px 0px;
  background: rgba(255, 0, 0, 0.63);
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

/* footer style */

footer {
  width: 78%;
  height: 610px;
  background-color: #070211;
  margin: 0 auto;
   display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

footer header h3 {
  width: 375px;
  color: #FFF;
  font-size: 1.3rem;
  font-weight: 500;
  /* margin-top: 100px; */
}

footer header {
  display: flex;
  justify-content: space-around;

}

footer header p {
  color: #FFF;

}

 footer .head-contain .call-icon {
  display: flex;
   justify-content: center;
  
  flex-direction: column;
}


 footer .head-contain .world-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 5px;
}  

footer header .head-contain {
  display: flex;
  gap: 8px;
  /* margin-top: 100px; */
}

footer .head-contain .call-icon img {
  width: 24px;
  height: 24px;
}

footer .link-container {
  display: flex;
  justify-content: center;
  gap: 10px;


  
}

footer .link-container .use {
  width: 60px;
  height: 60px;
}

footer .last-part {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .last-part h3 {
  color: #FFF;
  font-size: 1.3rem;
  font-weight: 500;
}














